<form action="/bookmarks" method="post">
  <input type="text" name="url" placeholder="insert url" />
  <input type="text" name="title" placeholder="insert title" />
  <input type="submit" value="Submit" />
</form>
